@import "tailwindcss";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  @apply bg-white font-[family-name:var(--font-inter)];
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::selection {
  background-color: rgb(245 158 11 / 0.3);
  color: rgb(41 37 36);
}
